<app-menu></app-menu>
<app-header></app-header>
<div class=" content-inner ">
    <div class="container-fluid ">

        <!-- Begin Page Header-->
        <div class="row ">
            <div class="page-header ">
                <div class="d-flex align-items-center ">
                    <h2 class="page-header-title ">{{title}}</h2>
                    <div>
                        <div class="page-header-tools ">
                            <a class="btn btn-gradient-01 " href="javascript:void(0) " (click)="goBack() ">Back</a>
                        </div>
                    </div>
                    <div>
                        <div class="page-header-tools ">
                            <a class="btn btn-gradient-01 " [routerLink]="[ '/webdesing/create/'] ">Add item</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Header -->
        <div class="row flex-row ">
            <div class="col-12 ">
                <!-- Form -->
                <div class="widget has-shadow ">
                    <table class="table table-bordered table-striped ">

                        <tr>
                            <th>#ID</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Tecnology</th>
                            <th>Popup</th>
                            <th>Class</th>
                            <th>Created At</th>
                            <th>Action</th>
                        </tr>
                        <tr *ngFor="let webdesing of webdesings ">
                            <td>{{webdesing.id}}</td>
                            <td><img src="{{webdesing.image}} " style="width: 100px "></td>
                            <td>{{webdesing.title}}</td>
                            <td>{{webdesing.technology}}</td>
                            <td>{{webdesing.popup}}</td>
                            <td>{{webdesing.clasName}}</td>
                            <td>{{webdesing.createdAt | date: 'mediumDate'}}</td>
                            <td class="td-actions ">
                                <a [routerLink]="[ '/webdesing/edit', webdesing.id] "><i class="la la-edit edit "></i></a>
                                <a (click)="onDelete(webdesing.id) "><i class="la la-close delete "></i></a>
                            </td>
                        </tr>
                    </table>
                    {{error}}

                </div>
                <!-- End Form -->
            </div>
        </div>
        <!-- End Row -->
    </div>
    <!-- End Container -->
    <app-footer></app-footer>