<div class="default-sidebar">
    <!-- Begin Side Navbar -->
    <nav class="side-navbar box-scroll sidebar-scroll">
        <!-- Begin Main Navigation -->
        <ul class="list-unstyled">
            <li><a routerLink="/admin"><i class="la la-columns"></i><span>Dashboard</span></a></li>
            <li><a routerLink="/seo"><i class="la la-fire"></i><span>Seo</span></a></li>

        </ul>
        <span class="heading">Portafolio</span>
        <ul class="list-unstyled">
            <li><a href="#dropdown-Facial" aria-expanded="false" data-toggle="collapse"><i class="la la-smile-o"></i><span>Portafolio</span></a>
                <ul id="dropdown-Facial" class="collapse list-unstyled pt-0">
                    <li><a routerLink="/webdesing">Diseño Web</a></li>
                    <li><a routerLink="/grafico">Diseño Grafico</a></li>
                    <li><a routerLink="/video">Video</a></li>
                </ul>
            </li>
        </ul>
        <ul class="list-unstyled">
            <li><a routerLink="/contact"><i class="la la-inbox"></i><span>Contacts</span></a></li>
            <li><a routerLink="/subcriptores"><i class="la la-user-plus"></i><span>Subscribers</span></a></li>
        </ul>
        <!-- End Main Navigation -->
    </nav>
    <!-- End Side Navbar -->
</div>
<!-- End Left Sidebar -->