<app-header></app-header>
<app-menu></app-menu>

<div class="content-inner">
    <div class="container-fluid">
        <!-- Begin Page Header-->
        <div class="row">
            <div class="page-header">
                <div class="d-flex align-items-center">
                    <h2 class="page-header-title">Dashboard</h2>
                </div>
            </div>
        </div>
        <!-- End Page Header -->

        <!-- Begin Row -->
        <div class="row flex-row">
            <!-- Begin Seo -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-fire"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Seo</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/web">Seo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Wax -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-fire"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3>Portafolio</h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/webdesing">webdesing</a></li>
                                    <li><a routerLink="/grafico">Grafico</a></li>
                                    <li><a routerLink="/video">video</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Begin Makeup -->
            <div class="col-xl-4 col-md-6 col-sm-6">
                <div class="widget widget-12 has-shadow">
                    <div class="widget-body">
                        <div class="media">
                            <div class="align-self-center ml-5 mr-5">
                                <i class="la la-paint-brush"></i>
                            </div>
                            <div class="media-body align-self-center">
                                <div class="title text-facebook">
                                    <h3><a routerLink="/makeupinfo">Contacts</a></h3>
                                </div>
                                <ul>
                                    <li><a routerLink="/look">Contacts</a></li>
                                    <li><a routerLink="/bridal">Subcribers</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Row -->

    </div>
    <!-- End Container -->
    <app-footer></app-footer>